body {
    background-image: url('https://i.ytimg.com/vi/obJOMFWOUFk/maxresdefault.jpg'); /* Reemplaza 'tu-imagen-de-fondo.jpg' con la ruta de tu imagen de fondo */
    background-size: cover;
    color: #fff; /* Cambia el color del texto según sea necesario */
    font-family: 'Arial', sans-serif; /* Cambia la fuente del texto según sea necesario */
    margin: 0;
    padding: 20px;
}

h1, h2, h3 {
    text-align: center;
    color: #0c0c0c; /* Cambia el color del texto de los encabezados según sea necesario */
}

img {
    max-width: 100%; /* Asegura que las imágenes no excedan el ancho del contenedor */
    height: auto;
    display: block;
    margin: 20px auto; /* Añade un espacio alrededor de las imágenes */
}

.contenido {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente para mejorar la legibilidad del texto */
    padding: 20px;
    border-radius: 10px;
}

p {
    text-align: justify;
    color: #fff; /* Cambia el color del texto del párrafo según sea necesario */
}